#tabbar{
    width: 100%;
    height: 1rem;
    background: #fff;
    border-top:1px solid #ccc;
    position: fixed;
    left: 0;
    bottom:0;
}

#tabbar>ul,#tabbar>ul>li{
    width: 100%;
    height: 100%;
}
#tabbar>ul{
    display: flex;
    justify-content: space-between;
}

#tabbar>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabbar>ul>li>a>i{
    font-size:.4rem
}
#tabbar>ul>li>a>span{
    font-size:.3rem
}
#tabbar>ul>li>.active{
    color: #c33;
}
